<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakito</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="body_login">

    <div id="login">
        <div class="info-log">
            <label for="username">Utilizador </label> <br>
            <input type="text" name="username" id="utilizador" placeholder="Nome de utilizador">
        </div>
        <div class="info-log">
            <label for="password">Senha</label> <br>
            <input type="password" name="password" id="password" placeholder="Palavra passe">
        </div>

        <button class="btn-login" onclick="loginUser()" style="width: 100%;">Iniciar Sessão</button>

        <div id="erro"></div>

    </div>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
    

</body>

</html>