<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakito</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Wakito</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./home.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./facturas.html">Facturas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./produtos.html">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./legislacao.html">Legislação</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="info-nav">
        <div class="info-item" id="legislacao">
            <h2>Regime Jurídico das Facturas e Documentos Equivalentes</h2>
            <p>A legislação angolana estabelece o <strong>Regime Jurídico das Facturas e Documentos Equivalentes</strong>. De acordo com este regime, é <strong>obrigatória a emissão de faturas ou documentos equivalentes</strong> em todas as transmissões onerosas de bens corpóreos ou incorpóreos e prestações de serviços. Aqui estão alguns pontos importantes sobre esse regime:</p>
    
            <div class="section" id="ambito">
                <h3>Âmbito de Aplicação</h3>
                <p>
                    O presente regime é aplicável aos contribuintes com residência fiscal em Angola.
                    Abrange todas as transmissões de bens, prestações de serviços, adiantamentos ou pagamentos antecipados realizados no exercício da atividade comercial, industrial, de prestação de serviços ou profissão liberal, bem como atividades civis com ou sem forma comercial.
                </p>
            </div>
    
            <div class="section" id="requisitos">
                <h3>Requisitos das Facturas</h3>
                <ul>
                    <li>As facturas ou documentos equivalentes devem conter os seguintes elementos:
                        <ul>
                            <li>Nome, firma ou denominação social do fornecedor de bens ou prestador de serviços, bem como dos respetivos adquirentes.</li>
                            <li>Numeração sequencial e cronológica do tipo de documento e anos económicos.</li>
                            <li>Discriminação detalhada dos bens ou serviços prestados.</li>
                            <li>Preço unitário e total em moeda nacional (exceto para facturas relacionadas com importação ou exportação).</li>
                            <li>Taxas de impostos aplicáveis e o montante do imposto, quando devido.</li>
                            <li>Data e local em que os bens foram disponibilizados aos adquirentes ou os serviços foram prestados.</li>
                            <li>Redação em língua portuguesa.</li>
                            <li>Data da emissão.</li>
                            <li>Identificação do sistema informático utilizado para a emissão da fatura.</li>
                        </ul>
                    </li>
                </ul>
            </div>
    
            <div class="section" id="dispensa">
                <h3>Dispensa de Emissão de Factura</h3>
                <p>
                    A obrigação de emissão de fatura é dispensada em casos específicos, como transmissões de bens através de aparelhos de distribuição automática ou sistemas eletrónicos, ou prestação de serviços em que seja habitual a emissão de bilhetes de ingresso, transporte, senhas, portagens ou outros documentos impressos.
                </p>
            </div>
    
            <div class="section" id="formato">
                <h3>Formato e Tamanho</h3>
                <p>
                    As faturas devem ser impressas em papel comum, com dimensões mínimas de <strong>210 mm x 148 mm</strong> (formato A5) e máximas de <strong>297 mm x 210 mm</strong> (formato A4).
                    O tamanho padrão é o formato A4, mas o formato A5 também é aceitável.
                </p>
            </div>
    
            <div class="section" id="legibilidade">
                <h3>Legibilidade</h3>
                <p>
                    As informações contidas na fatura devem ser <strong>legíveis</strong> e <strong>claras</strong>.
                    Recomenda-se o uso de fontes de tamanho adequado para garantir a legibilidade.
                </p>
            </div>
    
            <div class="section" id="autofaturacao">
                <h3>Autofaturação</h3>
                <p>
                    As entidades adquirentes de bens ou serviços abrangidas pelo regime devem emitir as faturas/recibos através de programas informáticos certificados.
                    A emissão de faturas deve ser feita em triplicado: uma versão original para o cliente, uma cópia para o arquivo do fornecedor e outra para acompanhar os bens em circulação na posse do cliente.
                </p>
                <pre>

                  
                </pre>
            </div>
        </div>
    </div>
    
    <script src="../../public/js/bootstrap.js"></script>
    <!-- <script src="../../public/js/script.js"></script> -->
  
</body>

</html>